.filtro {
    margin: 130px 30px 0px;
    max-height: 500px;
    max-width: 260px;
}

select.form-select {
    width: 80%;
    margin: 20px auto;
}

label {
    font-size: 16px;
}

.filtro div.form-check {
    width: 80%;
    margin: 4px auto;
}

.filtro button {
    width: 50%;
    margin: 5px auto 30px;
}