*{
    margin: 0;
    padding: 0;
}
[href]{
    text-decoration: none;
}
.cont-card{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.cont-card__card{
    display: block;
    min-width: 25%;
    height: 450px;
    background-color: #087990;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    margin: 0 5%;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.cont-card__card:hover{
    background-color: #1093ad;
    box-shadow: 0 10px 30px rgb(0 0 0 / 0.4);
}
.cont-card__card .img-cont{
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
}
.cont-card__card .img-cont img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
}
.cont-card__card h2{
    margin-top: 100px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    padding: 0 10px;
    text-align: center;
}
.cont-card__p{
    color: rgb(219, 219, 219);
    font-size: 1rem;
    text-align: center;
    inline-size: 90%;
    overflow-wrap: break-word;
}


