footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    background: #087990;
    color: white;
    position: fixed;
    bottom: 0px;
}

footer nav span {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    line-height: normal;
    font-size: 16px;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    user-select: none;
}

footer nav span:hover {
    /* background: #ffffff; */
    color: rgb(0, 0, 0);
    border-radius: 50px;
}