/* .navbar { */
    /* padding: 50px 20px; */
/* } */

/* button.btn{ */
    /* background-color: #087990; */
/* } */

header.header {
    height: 70px;
    border-bottom: solid 2px #087990;
    background-color: #087990;
    color: white;
}

header nav {
    font-size: 18px;
    color: red;
}

header a:after {
    content: "";
    height: 3px;
    display: block;
    border-radius: 3px;
    width: 0px;
    transition: 400ms width;
}

header a:hover::after {
    width: 100%;
    background-color: white;
}
