/* .navbar { */
    /* padding: 50px 20px; */
/* } */

/* button.btn{ */
    /* background-color: #087990; */
/* } */

header.header {
    height: 70px;
    border-bottom: solid 2px #087990;
}

header nav {
    font-size: 18px;
}

nav a:after {
    content: "";
    height: 3px;
    display: block;
    border-radius: 3px;
    width: 0px;
    transition: 500ms width;
}

nav a:hover::after {
    width: 100%;
    background-color: #087990;
}
