* {
    box-sizing: border-box;
    
}

.container-fluid {
    height: 100px;
    border-radius: 15px;
    background-color: #f1f1f1;
    box-shadow: 10px 10px 2px 0px #8d8d8d
}

/* .container-fluid:hover {
    box-shadow: 0px 0px 30px 0px #8d8d8d
} */

span {
    display: flex;
    justify-content: center;
    align-items: center;
}